[submodule "Cocoa Extensions/NSString+MD5"]
	path = Cocoa Extensions/NSString+MD5
	url = https://github.com/gerasim13/NSString-MD5
[submodule "Cocoa Extensions/NSString+Random"]
	path = Cocoa Extensions/NSString+Random
	url = git://gist.github.com/3834111.git
[submodule "Cocoa Extensions/NSObject+Blocks"]
	path = Cocoa Extensions/NSObject+Blocks
	url = git://gist.github.com/955123.git
[submodule "Cocoa Extensions/NSFileManager+DoNotBackup"]
	path = Cocoa Extensions/NSFileManager+DoNotBackup
	url = git://gist.github.com/1999985.git
[submodule "Cocoa Extensions/UIKitCategoryAdditions"]
	path = Cocoa Extensions/UIKitCategoryAdditions
	url = git://github.com/MugunthKumar/UIKitCategoryAdditions.git
[submodule "Cocoa Extensions/UIKitAdditions"]
	path = Cocoa Extensions/UIKitAdditions
	url = https://github.com/gerasim13/UIKit-Additions.git
